*/.DS_Store
/Debug/*.*
.autotools
.cproject
.project
.settings
Debug/makefile
Debug/List/subdir.mk
Debug/List/list_test.o
Debug/List/list_test.d
Debug/List/list_node.o
Debug/List/list_node.d
Debug/List/list.o
Debug/List/list.d
Debug/Queue/subdir.mk
Debug/Queue/queue_list.o
Debug/Queue/queue_list.d
Debug/Queue/queue_array.o
Debug/Queue/queue_array.d
Debug/Stack/subdir.mk
Debug/Stack/stack_list.o
Debug/Stack/stack_list.d
Debug/Stack/stack_array.o
Debug/Stack/stack_array.d
Debug/Tree/subdir.mk
Debug/Tree/binary_tree.o
Debug/Tree/binary_tree.d
bin/list_test.dSYM/Contents/Info.plist
bin/list_test.dSYM/Contents/Resources/DWARF/list_test
